@import "./base/typography.scss";
@import "./utils/variables.scss";
$tertiary-color-invert: invert($tertiary-color);
$secondary-color-invert: invert($secondary-color);
$primary-color-invert: invert($primary-color);
$primary-color-mix-sdry: mix($primary-color, darken($secondary-color, 15%));
$gradient-color: linear-gradient(to right, $primary-color-mix-sdry, $primary-color);
$general-font-size: 1rem;
@mixin button($bg-color: transparent, $font: $text, $font-size: $general-font-size) {
    padding: 4% 5%;
    border: 0px transparent none;
    border-radius: 1.3rem;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.208);
    font-family: $font;
    font-size: $font-size;
    background: $bg-color;
    transition: all 800ms;
    &:hover {
        background: rgba($bg-color, 0.2);
        box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.408);
        .fa-solid {
            color: $primary-color;
        } 
    }
}
@mixin restaurant-bg($url) {
    background-image: url($url);
    background-size: cover;
    background-position: center;
}
@mixin favorit-color-changer($initial-color, $hover-color) {
    color: #ffffff;
    text-shadow: 3px 0px 0px $initial-color, -3px 0px $initial-color, 0px 3px 0px $initial-color, 0px -3px 0px $initial-color;
    transition: all 700ms;
    &:hover {
        color: $hover-color;
        text-shadow: 3px 0px 0px $hover-color, -3px 0px $hover-color, 0px 3px 0px $hover-color, 0px -3px 0px $hover-color;
    }
}

html {
    font-size: $initial-font-size;
}
body {
    margin: 0px;
}
main {
    padding: .5%;
}
.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.384);
    &__heading {
        font-family: $logo-titre;
        margin: 0% auto;
        
    }
}
.location {
    display: flex;
    justify-content: center;
    font-family: $text;
    font-size: 1.2rem;
    background-color: rgba($tertiary-color-invert, .05);
    &__dot {
        cursor: pointer;
        font-size: 1.2rem;
        border: 0px black none;
        background-color: transparent;
    }
}
.presentation {
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($secondary-color-invert, .03);
    &__sentence {
        margin: 7px 0px;
        padding: 0%;
        font-size: 1.5rem;
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        & strong {
            font-family: $text-bold;
            text-align: center;
        }
        & em {
            font-style: normal;
            text-align: center;
            font-family: $text-light;
            font-size: 1rem;
        }
    }
    &__btn {
        @include button($primary-color);
        color: white;
        &:hover {
            background-color: $primary-color-mix-sdry;
        }
    }
}
.functioning {
    padding-top: 1%;
    background-color: rgba($secondary-color-invert, .02);
    padding-left: 1rem;
    &__heading {
        margin-top: 0px;
        font-family: $text;
    }
    &__btns {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        .btn {
            width: 100%;
           @include button(rgba($primary-color, 0));
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding-left: 0px;
           padding-right: 3rem;
            margin: 1rem 0%;
           white-space: nowrap;
           .fa-solid {
               transition: all 800ms;
           }
           .btn-number {
               border-radius: 1rem;
               background-color: $primary-color;
               padding: .27rem .5rem;
               font-size: .7em;
               color: white;
               transform: translateX(-.4rem);
           }
        }
    }
}
.restaurants-liste {
    padding: 0rem 1rem;
    &__heading {
        font-family: $text;
    }
    &__cards {
        display: flex;
        flex-direction: column;
    }
    .card {
        border-radius: .7rem;
        text-decoration: none;
        padding: 1%;
        color: black;
        background-color: white;
        margin-bottom: 1rem;
        display: block;
        display: flex;
        flex-direction: column;
        &__bg {
            border-radius: .5rem .5rem 0rem 0rem;
            display: flex;
        justify-content: end;
        align-items: baseline;
            width: 100%;
            height: 50vw;
            &--la-palette-du-gout {
                @include restaurant-bg("../image/jay-wennington-N_Y88TWmGwA-unsplash.jpg")
            }
            &--la-note-enchante {
                @include restaurant-bg("../image/stil-u2Lp8tXIcjw-unsplash.jpg")
            }
            &--a-la-francaise {
                @include restaurant-bg("../image/toa-heftiba-DQKerTsQwi0-unsplash.jpg")
            }
            &--le-delice-des-sens {
                @include restaurant-bg("../image/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg")
            }
            &__new {
                font-family: $text;
                background-color: lighten($secondary-color-invert, 57%);
                display: inline-block;
                margin: 5%;
                padding: 1%;
            }
            
       
        }
        &__content {
            background-color: white;
            padding: 0% 2%;
            display: flex;
            justify-content: space-between;
            &__info {
                display: flex;
                flex-direction: column;
                &__name {
                    font-weight: normal;
                    margin-bottom: 0px;
                    font-size: 1rem;
                    font-family: $text-bold;
                }
                &__local {
                    font-style: normal;
                    font-size: .8rem;
                    font-family: $text-light;
                }
            }
            &__button-favorie {
                font-size: 1rem;
                background-color: transparent;
                border: 0px black none;
                & .fa-heart {
                    @include favorit-color-changer(black, $secondary-color)
                }
            }
        }

    }
}
.footer {
    background-color: lighten(black, 25%);
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &__header {
        font-family: $logo-titre;
    }
    &__link {
        margin: 1.5% 0%;
        font-family: $text;
        display: inline-block;
        color: inherit;
        text-decoration: none;
        & span {
            margin-left: 5%;
        }
    }
}

