@use "sass:map";
@import "./base/typography.scss";
@import "./utils/variables.scss";
$desktop-init-size: 16px;
$tertiary-color-invert: invert($tertiary-color);
$secondary-color-invert: invert($secondary-color);
$primary-color-invert: invert($primary-color);
$primary-color-saturate: #db57ba;
$general-font-size: 1rem;
$gradient-color: linear-gradient(to bottom right, $primary-color-saturate, $primary-color);
$gradient-color-lighten: linear-gradient(to bottom right, $primary-color-saturate, lighten($primary-color, 13%));
$appetizers-display-duration: 600ms;
$dishes-display-duration: $appetizers-display-duration;
$desserts-display-duration: $appetizers-display-duration;
$initial-delay: 400ms;
$section-map:(
    appetizer:("#appetizer-1", "#appetizer-2", "#appetizer-3", "#appetizer-4"),
    dishe:("#dishe-1", "#dishe-2", "#dishe-3"),
    dessert:("#dessert-1", "#dessert-2", "#dessert-3"),
);
@mixin meals-checkbox($map: $section-map) {
    @each $section, $meals in $map {
       @each $val in meals
       {
        #{$meals} {
            display: none;
            &:checked + label {
             .check-icon__fas {
                 animation: turns-icon 1s alternate;
                 animation-iteration-count: 2;
             }
                .check-icon {
                    animation: icon-box-mover 1s alternate both;
                    animation-iteration-count: 2;
                }
                .meals-infos {
                  animation: word-cut 1s alternate;
                  animation-iteration-count: 2;
                }
                .meals-price {
                    animation: price-mover 1s 80ms alternate both;
                    animation-iteration-count: 2;
                }
            }
        
           }
       }
    }
}
$delay-map:(
    ".appetizers": $initial-delay,
    ".dishes": ($appetizers-display-duration + $initial-delay) - 400ms,
    ".desserts": ($appetizers-display-duration + $dishes-display-duration + $initial-delay) - 700ms,
);
@keyframes meals-animation {
    0% {
        opacity: 0;
        transform: translateY(.7rem);
        animation-timing-function: cubic-bezier(0,0,.01,1);
    }
    100% {
        opacity: 1;
        transform: initial;
        animation-timing-function: cubic-bezier(0,.19,0,.97);
    }
}
@keyframes word-cut {
    
    0% {
        width: 70%;
        animation-timing-function: cubic-bezier(0,0,.01,1);
    }
    30% {
        width: 65%;
    }
    100% {
        width: 65%;
    }
}
@keyframes turns-icon {
    0% {
        transform: rotate(1turn);
        animation-timing-function: cubic-bezier(0,0,.01,1);
    }
    30% {
        transform: initial;
    }
    100% {
        transform: initial;
    }
}
@keyframes price-mover {
    0% {
        transform: translate(2rem);
        animation-timing-function: cubic-bezier(0,0,.01,1);

    }
    30% {
        transform: initial;
    }

    100% {
        transform: initial;
    }
}
@keyframes icon-box-mover {
    0% {
        transform: translate(2.3rem);
        animation-timing-function: cubic-bezier(0,0,.01,1);

    }
    30% {
        transform: initial;
    }
    100% {
        transform: initial;
        animation-timing-function: cubic-bezier(0,0,.01,1);

    }
}
@mixin primary-button($bg-color: $gradient-color, $font: $text, $font-size: $general-font-size) {
    padding: 4% 5%;
    border: 0px transparent none;
            border-radius: 1.3rem;
            box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.208);
            font-family: $font;
            font-size: $font-size;
            background: $bg-color;
            z-index: 1;
            position: relative;
            color: white;
            display: inline;
            align-self: center;
            margin: 1.5rem 0rem;
            transition: all 800ms;
            &:hover {
                box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.408);
               &::after {
                    opacity: 1;
                }
            }
            &::after {
                content: "";
                border-radius: 1.3rem;
                background: $gradient-color-lighten;
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: opacity 800ms;
            }
            @media screen and (min-width: 600px) {
                padding: 1rem 1.3rem;
            }
}
@mixin button($bg-color: transparent, $font: $text, $font-size: $general-font-size) {
    cursor: pointer;
    padding: 4% 5%;
    border: 0px transparent none;
    border-radius: 1.3rem;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.208);
    font-family: $font;
    font-size: $font-size;
    background: $bg-color;
    transition: all 800ms;
    &:hover {
        background: rgba($bg-color, 0.2);
        box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.408);
        .fa-solid {
            color: $primary-color;
        } 
    }
    @media screen and (min-width: 600px) {
        padding: 1rem 1.3rem;
    }
}
@mixin meals-animation($delay) {
    @each $section, $animation-delay in $delay {
        #{$section} {
            animation: meals-animation both;
            animation-duration: $appetizers-display-duration;
            animation-delay: $animation-delay;
        }
    }
}
@mixin restaurant-bg($url) {
    background-image: url($url);
    background-size: cover;
    background-position: center;
}
@mixin cover($url) {
    width: 100vw;
    height: 55vw;
    @include restaurant-bg($url);
    transform: scaleX(1.1);
    @media screen and (min-width: 600px) {
     height: 20vw;
    }
    
}
@mixin favorit-color-changer($initial-color: black, $hover-color: $secondary-color) {
    color: #ffffff;
    text-shadow: 3px 0px 0px $initial-color, -3px 0px $initial-color, 0px 3px 0px $initial-color, 0px -3px 0px $initial-color;
    transition: all 700ms;
    &:hover {
        color: $hover-color;
        text-shadow: 3px 0px 0px $hover-color, -3px 0px $hover-color, 0px 3px 0px $hover-color, 0px -3px 0px $hover-color;
    }
}
@keyframes accueil {
    0% {
        overflow-y: hidden;
    }
    99% {
        overflow-y: hidden;
    }
    100% {
        overflow: scroll;
    }
}
@keyframes loading {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes spiner {
    0% {
        border-top-color: $primary-color;
    }
    50% {
        border-top-color: $tertiary-color;
    }
    100% {
        transform: rotate(1turn);
    }
}
@keyframes content-animtion {
    0%, 90% {
        height: 0%;
        overflow: hidden;
        position: absolute;
        top: 0px;
    }
    100% {
        height: 100%;
        overflow: scroll;
    }
    
}

html {
    font-size: $initial-font-size;
    overflow-x: hidden;
}
body {
    margin: 0px;
}
.accueil {
    animation: accueil 3s both;
    &__content {
        z-index: 1;
        animation: content-animtion 3s both;
    }
    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        z-index: -1;
        height: 100vh;
        background-color: transparent;
        position: absolute;
        top: 0px;
        animation: loading 3s forwards;
        &::after {
            content: "";
            width: 50%;
            height: 50vw;
            border: 7px transparent solid;
            border-top-color: $primary-color;
            border-radius: 50%;
            animation: spiner 1s infinite;
            @media screen and (min-width: 600px) {
                width: 300px;
                height: 300px;
            }
        }
    }
}
main {
    padding: .5%;
}
.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.384);
    &__heading {
        font-family: $logo-titre;
        margin: 0% auto;
        
    }
    &__return-btn {
        font-size: 1.1rem;
        margin-left: 1rem;
        color: black;
    }
}
@media screen and (min-width: 600px) {
 html {
     font-size: $desktop-init-size;
 }
 .header {
     font-size: 1rem;
 }
}
.location {
    display: flex;
    justify-content: center;
    font-family: $text;
    font-size: 1.2rem;
    background-color: rgba($tertiary-color-invert, .05);
    &__dot {
        cursor: pointer;
        font-size: 1.2rem;
        border: 0px black none;
        background-color: transparent;
    }
}
.presentation {
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($secondary-color-invert, .03);
    &__sentence {
        margin: 7px 0px;
        padding: 0%;
        font-size: 1.5rem;
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        & strong {
            font-family: $text-bold;
            text-align: center;
        }
        & em {
            font-style: normal;
            text-align: center;
            font-family: $text-light;
            font-size: 1rem;
        }
    }
    &__btn {
        @include primary-button();
    }
}
.functioning {
    padding-top: 1%;
    background-color: rgba($secondary-color-invert, .02);
    padding-left: 1rem;
    &__heading {
        margin-top: 0px;
        font-family: $text;
    }
    &__btns {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        .btn {
            width: 100%;
           @include button(rgba($primary-color, 0));
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding-left: 0px;
           padding-right: 3rem;
            margin: 1rem 0%;
           white-space: nowrap;
           .fa-solid {
               transition: all 800ms;
           }
           .btn-number {
               border-radius: 1rem;
               background-color: $primary-color;
               padding: .27rem .5rem;
               font-size: .7em;
               color: white;
               transform: translateX(-.4rem);
           }
        }
    }
}
@media screen and (min-width: 600px) {
    .functioning {
        &__btns {
            margin-top: 1rem;
            margin-right: 1rem;
            flex-direction: row;
            .btn {
                width: 30%;
                margin: 0rem 1rem;
            }
        }
    }
}
@media screen and (min-width:600px) and (max-width: 992px) {
    .functioning {
        &__btns {
            width: 50%;
            flex-wrap: wrap;
            .btn {
                width: auto;
            }
        }
    }
}
.restaurants-liste {
    padding: 0rem 1rem;
    &__heading {
        font-family: $text;
    }
    &__cards {
        display: flex;
        flex-direction: column;
    }
    .card {
        border-radius: .7rem;
        text-decoration: none;
        padding: 1%;
        color: black;
        background-color: white;
        margin-bottom: 1rem;
        display: block;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.356);
        &__bg {
            border-radius: .5rem .5rem 0rem 0rem;
            display: flex;
        justify-content: end;
        align-items: baseline;
            width: 100%;
            height: 50vw;
            &--la-palette-du-gout {
                @include restaurant-bg("../image/jay-wennington-N_Y88TWmGwA-unsplash.jpg")
            }
            &--la-note-enchante {
                @include restaurant-bg("../image/stil-u2Lp8tXIcjw-unsplash.jpg")
            }
            &--a-la-francaise {
                @include restaurant-bg("../image/toa-heftiba-DQKerTsQwi0-unsplash.jpg")
            }
            &--le-delice-des-sens {
                @include restaurant-bg("../image/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg")
            }
            &__new {
                font-family: $text;
                background-color: lighten($secondary-color-invert, 57%);
                display: inline-block;
                margin: 5%;
                padding: 1%;
            }
            
       
        }
        &__content {
            background-color: white;
            padding: 0% 2%;
            display: flex;
            justify-content: space-between;
            &__info {
                display: flex;
                flex-direction: column;
                &__name {
                    margin-top: 1rem;
                    font-weight: normal;
                    margin-bottom: 0px;
                    font-size: 1rem;
                    font-family: $text-bold;
                }
                &__local {
                    font-style: normal;
                    font-size: .8rem;
                    font-family: $text-light;
                }
            }
            &__button-favorie {
                margin-top: 1rem;
                cursor: pointer;
                font-size: 1rem;
                background-color: transparent;
                border: 0px black none;
                & .fa-heart {
                    @include favorit-color-changer()
                }
            }
        }

    }
}
@media screen and (min-width: 600px) {
    .restaurants-liste {
        &__cards {
            margin-top: 2rem;
            align-items: center;
        }
        .card {
            padding: 0px;
            padding-bottom: .5rem;
            margin-bottom: 3rem;
            width: 85%;
            box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.356);
            &__bg {
                width: 100%;
                height: 35vw;
            }
            &__content {
                &__info {
                   &__name {
                       font-size: 1.5rem;
                   }
                   &__local {
                       font-size: 1.2rem;
                   }
                }
            }
        }
        
    }
}
.footer {
    background-color: lighten(black, 25%);
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &__header {
        font-family: $logo-titre;
    }
    &__link {
        margin: 1.5% 0%;
        font-family: $text;
        display: inline-block;
        color: inherit;
        text-decoration: none;
        & span {
            margin-left: 5%;
        }
    }
}
.cover-laPaletteDG {

    @include cover("../image/jay-wennington-N_Y88TWmGwA-unsplash.jpg")
}
.cover-laNote {

    @include cover("../image/stil-u2Lp8tXIcjw-unsplash.jpg")
}
.cover-aLaFrancaise {

    @include cover("../image/toa-heftiba-DQKerTsQwi0-unsplash.jpg")
}
.cover-leDeliceDS {

    @include cover("../image/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg")
}
.cover-box {
    overflow: hidden;
}
.restaurant-page {
    width: 100vw;
    &__main {
        transform: scaleY(1.027);
        border-radius: 1rem 1rem 0rem 0rem;
        background-color: white;
        padding: 0rem .5rem;
        &__menu {
            display: flex;
            flex-direction: column;
           &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $logo-titre;
            & .fa-heart {
                @include favorit-color-changer();
                cursor: pointer;
            }
           }
           &__meals {
               margin-bottom: .8rem;
               &__heading {
                   font-family: $text-light;
                   text-transform: uppercase;
                   border-bottom: 4px $tertiary-color solid;
                   color: darken($tertiary-color, 53%);
                   width: 17%;
               }
               &__btn {
                   cursor: pointer;
                   white-space: nowrap;
                   margin: 1rem 0rem;
                   background-color: white;
                   border-radius: .3rem;
                   width: 100%;
                   justify-content: space-between;
                   display: flex;
                   overflow-x: hidden;
                   box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.308);
                   .meals-infos {
                       display: block;
                       width: 70%;
                       margin-right: 0%;
                       font-size: .8rem;
                       padding-left: .5rem;
                       margin-top: auto;
                       margin-bottom: auto;
                       display: flex;
                       flex-direction: column;
                       .meals-name {
                           margin-top: 0%;
                           margin-bottom: 0%;
                           font-family: $text-medium;
                       }
                       .meals-name-more {
                        font-family: $text-thin;
                        overflow: hidden;
                        text-overflow: ellipsis;

                    }
                   }
                   &__slide-checker {
                       display: flex;
                       .meals-price {
                        background-color: inherit;
                        font-size: .8rem;
                        align-self: flex-end;
                        font-style: normal;
                        font-family: $text-bold;
                        margin-right: 0rem;
                        transform: translateX(2rem);
                        margin-bottom: .26rem;
                    }
                    .check-icon {
                        padding: .7rem 0rem;
                        width: 2.3rem;
                        background-color: $tertiary-color;
                        display: block;
                        border-radius: 0rem .3rem .3rem 0rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 1rem;
                        transform: translateX(2.3rem);
                        &__fas {
                            font-size: 1rem;
                            color: white;
                        }
                    }
                   }
               }
           }
        }
        &__validation-btn {
            @include primary-button();
        }
    }
}
@media screen and (min-width:600px) {
    .restaurant-page {
        &__main {
            &__menu {
                &__meals {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &__heading {
                        width: 4%;
                    }
                    &__btn {
                        width: 50%;
                        margin: 1.5rem 0rem;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
 .restaurant-page {
     &__main {
         &__menu {
             &__meals {
                 &__btn {
                     width: 70%;
                     .meals-infos {
                        font-size: 1.3rem;
                     }
                     &__slide-checker {
                         .meals-price {
                             font-size: 1.3rem;
                         }
                     }
                 }
             }
         }
     }
 }
}
@include meals-animation($delay-map);
@include meals-checkbox();



