@font-face {
  font-family: Shrikhand;
  src: url("../../public/fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: Roboto-thin;
  src: url("../../public/fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto-thin-italic;
  src: url("../../public/fonts/Roboto/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: Roboto-light;
  src: url("../../public/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-light-italic;
  src: url("../../public/fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto-medium;
  src: url("../../public/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-medium-italic;
  src: url("../../public/fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto-regular;
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-bold;
  src: url("../../public/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-bold-italic;
  src: url("../../public/fonts/Roboto/Roboto-BoldItalic.ttf");
}
html {
  font-size: 5vw;
}

body {
  margin: 0px;
}

main {
  padding: 0.5%;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.384);
}
.header__heading {
  font-family: Shrikhand;
  margin: 0% auto;
}

.location {
  display: flex;
  justify-content: center;
  font-family: Roboto-medium;
  font-size: 1.2rem;
  background-color: rgba(102, 29, 47, 0.05);
}
.location__dot {
  cursor: pointer;
  font-size: 1.2rem;
  border: 0px black none;
  background-color: transparent;
}

.presentation {
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 134, 37, 0.03);
}
.presentation__sentence {
  margin: 7px 0px;
  padding: 0%;
  font-size: 1.5rem;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__sentence strong {
  font-family: Roboto-bold;
  text-align: center;
}
.presentation__sentence em {
  font-style: normal;
  text-align: center;
  font-family: Roboto-light;
  font-size: 1rem;
}
.presentation__btn {
  padding: 4% 5%;
  border: 0px transparent none;
  border-radius: 1.3rem;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.308);
  font-family: Roboto-medium;
  font-size: 1rem;
  background: #9356DC;
  transition: all 800ms;
  color: white;
  margin: 2% 0%;
}
.presentation__btn:hover {
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.52);
  background: rgba(147, 86, 220, 0.2);
}

.functioning {
  padding-top: 1%;
  background-color: rgba(0, 134, 37, 0.02);
  padding-left: 1rem;
}
.functioning__heading {
  margin-top: 0px;
  font-family: Roboto-medium;
}
.functioning__btns {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.functioning__btns .btn {
  width: 100%;
  padding: 4% 5%;
  border: 0px transparent none;
  border-radius: 1.3rem;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.308);
  font-family: Roboto-medium;
  font-size: 1rem;
  background: rgba(147, 86, 220, 0);
  transition: all 800ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 3rem;
  margin: 1rem 0%;
  white-space: nowrap;
}
.functioning__btns .btn:hover {
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.52);
  background: rgba(147, 86, 220, 0.2);
}
.functioning__btns .btn span {
  border-radius: 1rem;
  background-color: #9356DC;
  padding: 0.27rem 0.5rem;
  font-size: 0.7em;
  color: white;
  transform: translateX(-0.4rem);
}

.restaurants-liste {
  padding: 0rem 1rem;
}
.restaurants-liste__heading {
  font-family: Roboto-medium;
}
.restaurants-liste__cards {
  display: flex;
  flex-direction: column;
}
.restaurants-liste .card {
  border-radius: 0.7rem;
  text-decoration: none;
  padding: 1%;
  color: black;
  background-color: white;
  margin-bottom: 1rem;
  display: block;
  display: flex;
  flex-direction: column;
}
.restaurants-liste .card__bg {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  display: flex;
  justify-content: end;
  align-items: baseline;
  width: 100%;
  height: 50vw;
}
.restaurants-liste .card__bg--la-palette-du-gout {
  background-image: url("../image/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.restaurants-liste .card__bg--la-note-enchante {
  background-image: url("../image/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.restaurants-liste .card__bg--a-la-francaise {
  background-image: url("../image/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.restaurants-liste .card__bg--le-delice-des-sens {
  background-image: url("../image/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.restaurants-liste .card__bg__new {
  font-family: Roboto-medium;
  background-color: #aaffc1;
  display: inline-block;
  margin: 5%;
  padding: 1%;
}
.restaurants-liste .card__content {
  background-color: white;
  padding: 0% 2%;
  display: flex;
  justify-content: space-between;
}
.restaurants-liste .card__content__info {
  display: flex;
  flex-direction: column;
}
.restaurants-liste .card__content__info__name {
  font-weight: normal;
  margin-bottom: 0px;
  font-size: 1rem;
  font-family: Roboto-bold;
}
.restaurants-liste .card__content__info__local {
  font-style: normal;
  font-size: 0.8rem;
  font-family: Roboto-light;
}
.restaurants-liste .card__content__button-favorie {
  font-size: 1rem;
  background-color: transparent;
  border: 0px black none;
}
.restaurants-liste .card__content__button-favorie .fa-heart {
  color: #ffffff;
  text-shadow: 3px 0px 0px black, -3px 0px black, 0px 3px 0px black, 0px -3px 0px black;
  transition: all 700ms;
}
.restaurants-liste .card__content__button-favorie .fa-heart:hover {
  color: #FF79DA;
  text-shadow: 3px 0px 0px #FF79DA, -3px 0px #FF79DA, 0px 3px 0px #FF79DA, 0px -3px 0px #FF79DA;
}

.footer {
  background-color: #404040;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.footer__header {
  font-family: Shrikhand;
}
.footer__link {
  margin: 1.5% 0%;
  font-family: Roboto-medium;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
.footer__link span {
  margin-left: 5%;
}

/*# sourceMappingURL=style.css.map */
