@keyframes meals-animation {
    0% {
        opacity: 0;
        transform: translateY(.7rem);
        animation-timing-function: cubic-bezier(0,0,.01,1);
    }
    100% {
        opacity: 1;
        transform: initial;
        animation-timing-function: cubic-bezier(0,.19,0,.97);
    }
}
@keyframes word-cut {
    
    0% {
        width: 70%;
        animation-timing-function: cubic-bezier(0,0,.01,1);
    }
    30% {
        width: 65%;
    }
    100% {
        width: 65%;
    }
}
@keyframes turns-icon {
    0% {
        transform: rotate(1turn);
        animation-timing-function: cubic-bezier(0,0,.01,1);
    }
    30% {
        transform: initial;
    }
    100% {
        transform: initial;
    }
}
@keyframes price-mover {
    0% {
        transform: translate(2rem);
        animation-timing-function: cubic-bezier(0,0,.01,1);

    }
    30% {
        transform: initial;
    }

    100% {
        transform: initial;
    }
}
@keyframes icon-box-mover {
    0% {
        transform: translate(2.3rem);
        animation-timing-function: cubic-bezier(0,0,.01,1);

    }
    30% {
        transform: initial;
    }
    100% {
        transform: initial;
        animation-timing-function: cubic-bezier(0,0,.01,1);

    }
}
@keyframes accueil {
    0% {
        overflow-y: hidden;
    }
    99% {
        overflow-y: hidden;
    }
    100% {
        overflow: scroll;
    }
}
@keyframes loading {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes spiner {
    0% {
        border-top-color: $primary-color;
    }
    50% {
        border-top-color: $tertiary-color;
    }
    100% {
        transform: rotate(1turn);
    }
}
@keyframes content-animtion {
    0%, 90% {
        height: 0%;
        overflow: hidden;
        position: absolute;
        top: 0px;
    }
    100% {
        height: 100%;
        overflow: scroll;
    }
    
}