html {
    font-size: $initial-font-size;
    overflow-x: hidden;
}
body {
    margin: 0px;
}
.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}