// meals appearance animation mixin when loading restaurant page
@mixin meals-animation($delay) {
    @each $section, $animation-delay in $delay {
        #{$section} {
            animation: meals-animation both;
            animation-duration: $appetizers-display-duration;
            animation-delay: $animation-delay;
        }
    }
}
// restaurant image builder
@mixin restaurant-bg($url) {
    background-image: url($url);
    background-size: cover;
    background-position: center;
}
// restaurant page cover builder 
@mixin cover($url) {
    width: 100vw;
    height: 55vw;
    @include restaurant-bg($url);
    transform: scaleX(1.1);
    @media screen and (min-width: 600px) {
     height: 20vw;
    }
    
}
// restaurant saving button builder
@mixin favorit-color-changer() {
    & .fa-solid {
        position: absolute;
        top: 0;
        left: 0;
        color: $primary-color-saturate;
        font-size: 1.2rem;
        opacity: 0;
        transition: all 700ms;
        &:hover {
            opacity: 1;
        }
    }
    .fa-regular {
        font-size: 1.2rem;
        
    }
}
// meals checking animation builder
@mixin meals-checkbox($map: $section-map) {
    @each $section, $meals in $map {
       @each $val in meals
       {
        #{$meals} {
            display: none;
            &:checked + label {
             .check-icon__fas {
                 animation: turns-icon 1s alternate;
                 animation-iteration-count: 2;
             }
                .check-icon {
                    animation: icon-box-mover 1s alternate both;
                    animation-iteration-count: 2;
                }
                .meals-infos {
                  animation: word-cut 1s alternate;
                  animation-iteration-count: 2;
                }
                .meals-price {
                    animation: price-mover 1s 80ms alternate both;
                    animation-iteration-count: 2;
                }
            }
        
           }
       }
    }
}