@mixin button($bg-color: transparent, $font: $text, $font-size: $general-font-size) {
    cursor: pointer;
    padding: 4% 5%;
    border: 0px transparent none;
    border-radius: 1.3rem;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.208);
    font-family: $font;
    font-size: $font-size;
    background: $bg-color;
    transition: all 800ms;
    &:hover {
        background: rgba($bg-color, 0.2);
        box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.408);
        .fa-solid {
            color: $primary-color;
        } 
    }
    @media screen and (min-width: 600px) {
        padding: 1rem 1.3rem;
    }
}
@mixin meals-animation($delay) {
    @each $section, $animation-delay in $delay {
        #{$section} {
            animation: meals-animation both;
            animation-duration: $appetizers-display-duration;
            animation-delay: $animation-delay;
        }
    }
}
@mixin restaurant-bg($url) {
    background-image: url($url);
    background-size: cover;
    background-position: center;
}
@mixin cover($url) {
    width: 100vw;
    height: 55vw;
    @include restaurant-bg($url);
    transform: scaleX(1.1);
    @media screen and (min-width: 600px) {
     height: 20vw;
    }
    
}
@mixin favorit-color-changer() {
    & .fa-solid {
        position: absolute;
        top: 0;
        left: 0;
        color: $primary-color-saturate;
        font-size: 1.2rem;
        opacity: 0;
        transition: all 700ms;
        &:hover {
            opacity: 1;
        }
    }
    .fa-regular {
        font-size: 1.2rem;
        
    }
}
@mixin meals-checkbox($map: $section-map) {
    @each $section, $meals in $map {
       @each $val in meals
       {
        #{$meals} {
            display: none;
            &:checked + label {
             .check-icon__fas {
                 animation: turns-icon 1s alternate;
                 animation-iteration-count: 2;
             }
                .check-icon {
                    animation: icon-box-mover 1s alternate both;
                    animation-iteration-count: 2;
                }
                .meals-infos {
                  animation: word-cut 1s alternate;
                  animation-iteration-count: 2;
                }
                .meals-price {
                    animation: price-mover 1s 80ms alternate both;
                    animation-iteration-count: 2;
                }
            }
        
           }
       }
    }
}
@mixin primary-button($bg-color: $gradient-color, $font: $text, $font-size: $general-font-size) {
    padding: 4% 5%;
            border: 0px transparent none;
            cursor: pointer;
            border-radius: 1.3rem;
            box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.208);
            font-family: $font;
            font-size: $font-size;
            background: $bg-color;
            z-index: 1;
            position: relative;
            color: white;
            display: inline;
            align-self: center;
            margin: 1.5rem 0rem;
            transition: all 800ms;
            &:hover {
                box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.408);
               &::after {
                    opacity: 1;
                }
            }
            &::after {
                content: "";
                border-radius: 1.3rem;
                background: $gradient-color-lighten;
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: opacity 800ms;
            }
            @media screen and (min-width: 600px) {
                padding: 1rem 1.3rem;
            }
}